/* Apply a cool background color */
body {
    background-color: #f0f8ff; /* AliceBlue background color */
    color: #333; /* Text color for contrast */
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

/* Style for the main header */
h1 {
    font-size: 3em;
    color:#000; /* Tomato color */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6); /* Add a shadow effect */
}

/* Style for the sub-header */
h2 {
    font-size: 2em;
    color:beige; /* Gold color */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

/* Style for the table */
table {
    margin-top: 50px;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Table header styles */
.table-header th {
    background-color:darkseagreen; /* Dark Slate Gray */
    color: #fff;
    padding: 15px;
}

/* Table data row styles */
table td {
    background-color: rgba(255, 255, 255, 0.8); /* Light transparent background */
    color: #333;
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;
}

/* Hover effect on table rows */
table tr:hover td {
    background-color:darkseagreen; /* Gold color on hover */
    color: #000;
}
